#new_problem {
  .form-group {
    textarea.form_control#problem_statement {
      height: 8em;
    }
  }
}

.problem {
  .form-group{
    textarea.form-control {
      height: 9em;
    }
  }
}

#test-cases-form, #output-gen-form, #checker-form {
  display: none;
}
